<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>329730659910-4bep63uas3rh5uu36ba9f46e1dph0m9p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9mZsx5TlA5aw_1l222u9Sj5p7xBgd7v4</string>
	<key>GCM_SENDER_ID</key>
	<string>329730659910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.checkedin</string>
	<key>PROJECT_ID</key>
	<string>checkedin-cf697</string>
	<key>STORAGE_BUCKET</key>
	<string>checkedin-cf697.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329730659910:ios:70a490a7e3128eb9c0dc47</string>
</dict>
</plist>